.main {
    padding: 16px 18px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #7dd3fc;
    margin: 20px;
    height: 16.5rem;
    overflow: auto;
    box-shadow: 0 0 15px 1px #7dd3fc;
    @apply text-primary
}

.name {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.content {
    max-height: 8.5rem;
    overflow: auto;
}

.content::-webkit-scrollbar {
    display: none;
}

.link {
    padding: 3px 12px;
    @apply rounded-md bg-primary w-fit text-[white];
}

@media only screen and (max-width: 640px) {
    .main {
        margin: 10px;
    }
}