.main {
    padding: 16px 18px;
    border: 1px white solid;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    height: 16.5rem;
    overflow: auto;
}

.name {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.content {
    max-height: 8.5rem;
    overflow: auto;
}

.content::-webkit-scrollbar {
    display: none;
}

.link {
    padding: 3px 12px;
    @apply rounded-md bg-primary w-fit text-[white]
}